#nav-container {
    background: rgb(98,189,190);
    background: linear-gradient(149deg, rgba(98,189,190,1) 8%, rgba(224,186,103,1) 80%);
}

header {
    /*padding-top: 20%;
    padding-bottom: 0%;*/
    background: rgb(146, 98, 202);
    background: linear-gradient(77deg, rgb(89, 190, 176) 0%, rgb(223, 182, 92) 80%);

}

#img-header {
    width: 130px;
    margin-left: 8%;
}

/* #menu {
    padding: 10%;
} */
body{
    min-height: 100vh;
    background: rgb(89,189,190);
    background: linear-gradient(77deg, rgba(89,189,190,1) 0%, rgba(223,181,92,1) 80%);
}

main, section {
    padding: 7%;
    background: rgb(89,189,190);
    background: linear-gradient(77deg, rgba(89,189,190,1) 0%, rgba(223,181,92,1) 80%);
}

#link-insta {
    padding-top: 20px;
}

#cor_button {
    background-color: #ec95d2;
}

form {
    padding-top: 6%;
    padding-bottom: 13%;
    background: rgb(26, 29, 29);
    background: linear-gradient(77deg, rgba(89,189,190,1) 0%, rgba(223,181,92,1) 80%);
}

footer {
    /*padding-top: 5%;
    padding-bottom: 0;*/
    background: rgb(146, 98, 202);
    background: linear-gradient(77deg, rgb(89, 190, 176) 0%, rgb(223, 182, 92) 80%);
    /*display: flex;
    justify-content: baseline;*/
}
