/* h2 {
    padding-top: 1%;
    padding-left: 1%;
} */
/* #caixa{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
} */
#caixa-1 {
    padding-top: -3%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(24, 24, 24, 0.25);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #f0f0f0;
}

p {
    padding-top: 1%;
    padding-left: 1%;
    color: aliceblue;
    opacity: 0.8;
}

#img_insta{
    transition: all 1s;
    cursor: pointer;
}

#img_insta:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

#img-header{
    width: 130px;
    margin-left: 8%;
}
#img_body-1{
    margin-left: -3%;
    width: 400px;
    height: 440px;
}
#img_body-2{
    width: 400px;
    height: 440px;
}


#img_insta{
    width: 45px;
    margin-top: 1%;
    opacity: 0.4;
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #8a55b6, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main, section {
    padding-top: 1%;
    padding-bottom: min(8%);
}

form {
    padding-top: 6%;
    padding-bottom: 13%;
    padding-bottom: min(21%);
}

footer {
    padding-top: 8%;
    width: 100%;
    height: 2.5rem;
}
