:root{
    /* Colors */
    --bkg: linear-gradient(-45deg, #4c4c4c, #aaa9a9, #8a55b6, #23d5ab);
    
    /* colors ligth*/
    --lm-bkg: hsl(248, 20%, 84%);
    --lm-muted: hsl(248 15.7% 50%);
    --lm-text: hsl(246, 33%, 25%);
    --lm-accent: hsl(245 75% 54.5%);
    --lm-accent2: hsla(40, 94%, 47%, 0.827);

    /* colors dark */
    --dm-bkg: hsl(252, 6%, 16%);
    --dm-muted: hsl(248, 15.7%, 40%);
    --dm-text: hsl(246, 76%, 90%);
    --gray-light: 229, 233, 240;
    --dm-accent: hsl(277, 43%, 39%);
    --dm-accent2: hsla(40, 49%, 34%, 0.874);

    /* Fontes */
    --fs-200: 14px;
    --fs-300: 20px;
    --fs-400: 22px;
    --fs-500: 32px;
    --lh-1: 1;
    --lh-1-1: 1.1;
    --lh-1-4: 1.4;

    /* Utils */
    --space-sm: clamp(0.4rem, 1.5vw, .8rem);
    --space-md: clamp(1rem, 2.5vw, 1.4rem);
    --space-lg: clamp(2rem, 4vw, 2.2rem);
    --content: 50ch;
    --round-sm: 4px;
    --round-md: 10px;
    --round-lg: 15px;
    --round-full: 100vmax;    
}
body{
    display: flex;
    flex-direction: column;
    font-size: var(--fs-400);
    line-height: var(--lh-1-4);
    font-weight: 400;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background: var(--bkg);
    color: var(--text);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}
#texto-intro {
    display: flex;
    flex-direction: column;
}
#texto1 {
    font-size: var(--fs-300);
    color: var(--lm-text);
    padding-left: 4rem;
}
#texto2 {
    font-size: var(--fs-300);
    color: var(--lm-text);
    padding-top: var(--space-md);
    padding-left: 8rem;
}
#texto3 {
    font-size: var(--fs-300);
    color: var(--lm-text);
    padding-top: var(--space-md);
    padding-left: 12rem;
    padding-bottom: var(--space-sm);
}
section, form{
    padding-bottom: min(16rem);
}
#footer{
    position: fixed;
    display: contents;
    bottom: 0;
    width: 100%;
}
#caixa{
    justify-content: space-around;
    padding-top: var(--space-lg);
    font-size: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(24, 24, 24, 0.25);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #f0f0f0;
}
p{
    padding-top: var(--space-sm);
    padding-left: var(--space-sm);
    border: var(--space-lg);
    color: aliceblue;
    opacity: 0.8;
}
#img_insta{
    transition: all 1s;
    cursor: pointer;
}
#img_insta:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
#img_insta{
    width: 45px;
    margin-top: 1%;
    opacity: 0.4;
}
#img-header{
    width: 130px;
    margin-left: 8%;
}
.container_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--space-lg);
    padding-bottom: var(--space-md);
}
#fotos{
    min-width: 200px;
    max-width: 400px;
    min-height: 480px;
    aspect-ratio: 16/12;
    border-radius: var(--round-full);
    padding: var(--space-lg);
}
@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
