{% extends "base.html" %} {% block title %}Crie uma postagem{% endblock %} 
{% block base %} 
<form method="POST" enctype="multipart/form-data">
    <div class="justify-content-center row g-3">
        <p class="col-lg-6 font-monospace fw-bolder fs-4 text-dark text-muted">Conte a sua história:</p>
    </div>
    <div class="justify-content-center row g-3">
        <div class="col-lg-6">
            <input type="text" name="text" id="text" class="form-control" placeholder="Descrição">
        </br>
        <div class="file-path-wrapper">
            <p class="col-lg-6 font-monospace fw-bolder fs-4 text-dark text-muted">Insira a url da imagem que você quer contar:</p>

            <input class="form-control" type="text" name="image">
        </div>
        </div>
    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Poste</button>
    </div>
</form>
{% endblock %}