{% extends "base.html" %}
{% block title %} Deletar uma postagem {% endblock %}
{% block base %}
<form method='POST'>
    <select name="post_id" class="form-select" aria-label="Default select example">
        <div class="justify-content-center">
            <div class="col-mg">
            <option selected>Abra este menu e selecione a postagem a ser deletada</option>
            {% for p in posts %}
                <option value="{{ p.id }}" class="form-control">{{ p.id }} - {{ p.text }}</option>
            {% endfor %}
            </div>
        </div>
      </select>
    </br>
    <div align="center">
        <button type="submit" class="btn btn-lg btn-danger">Delete</button>
    </div>
</form>
{% endblock %}