{% extends "base.html" %}
{% block title %}Adote um vira-lata{% endblock%}
{% block base %}
        <main>
            <div class="offset-3 container-md">
                <div class="container row" style="border-radius: 25px;">
                <img class="col-3 img-rounded" src="{{ url_for('static', filename='imgs/vl1_brincando.png') }}" alt="Cachorros vira-latas.">
                <img class="col-3 img-rounded" src="{{ url_for('static', filename='imgs/vl2_brincando.png') }}" alt="Cachorros vira-latas.">
                </div>
            </div>
        </main>
{% endblock %}
