{% extends "base.html" %}
{% block title %}Adote Vira-latas{% endblock %}
{% block base %}
<main>
    <div id="caixa">
        <div id="texto-intro">
            <small id="texto1">
                Este é um projeto de incentivo à adoção de vira-latas.
            </small>
            <small id="texto2">Atualmente vemos uma população de cachorros de rua
                <br>que poderiam fazer bom uso de um lar.
            </small>   
            <small id="texto3">
                Eles são muito amáveis e inteligentes.
            </small>     
        </div>
    </div>  
    <div id="caixa">
        <div class="container_images">
            <img id="fotos" src="{{ url_for('static', filename='imgs/vl1_brincando.png') }}">
            <img id="fotos" src="{{ url_for('static', filename='imgs/vl2_brincando.png') }}">            
        </div>
    </div>
</main>
{% endblock %}
