{% extends "base.html" %}
{% block title %}Adote Vira-latas{% endblock %}
{% block base %}
<main>
    <div id="caixa">
        <div id="texto-intro">
            <small id="texto">
                Este é um projeto de incentivo à adoção de vira-latas.
            </small>
            <small id="texto">Atualmente vemos uma população de cachorros de rua
                <br>que poderiam fazer bom uso de um lar, <br>então dê preferência à adoção de cachorros que se encontram na rua.
            </small>   
            <small id="texto">
                Eles são muito amáveis e inteligentes.
            </small>     
            <small id="texto">Compartilhe sua história de adoção </small>
        </div>
    </div>  
    <div id="caixa">
        <div class="container_images">
            <img id="fotos" src="{{ url_for('static', filename='imgs/vl1_brincando.png') }}">
            <img id="fotos" src="{{ url_for('static', filename='imgs/vl2_brincando.png') }}">            
        </div>
    </div>
</main>
{% endblock %}
